body {
    width: 800px;
    height: 2500px;
    margin: 0 auto;

    overflow: hidden;
    overflow-y: scroll;

    background: -webkit-linear-gradient(125deg, #E5E5E5 50%, #928B8B 10%);
    background: -o-linear-gradient(125deg, #E5E5E5 50%, #928B8B 10%);
    background: -moz-linear-gradient(125deg, #E5E5E5 50%, #928B8B 10%);
    background: linear-gradient(125deg, #E5E5E5 50%, #928B8B 10%);
}
h1 {
    font-family: Source Code Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 60px;

    position: relative;
    top : 20px;
    left: 200px;
}
.UsaFlag {
    border: 3px solid #000000;
    border-radius: 50px;
    
    width: 32px;
    height: 32px;

    position: fixed;
    top: 50px;
    left: 1740px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.FrenchFlag {
    border: 3px solid #000000;
    border-radius: 50px;

    width: 32px;
    height: 32px;

    position: fixed;
    left: 1690px;
    top: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Github {
    position: fixed;
    width: 68px;
    height: 48px;

    top: 25px;
    left: 25px;
    right: 750px;
    bottom: 1475px;

    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);

    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.GithubImg {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 32px;
    height: 32px;
}
.TopButtonClass {
    position: fixed;
    width: 68px;
    height: 48px;
    top: 25px;
    left: 100px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.TopButtonImg {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 32px;
    left: 118px;
    z-index: -1;
}
.Line1 {
    background-color: #000000;
    width: 400px;
    height: 3px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: relative;
    left: 175px;
}
.ArrowRight {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

    position: relative;
    top: -12px;
    right: -173.5px;
}
.ArrowLeft {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    position: relative;
    top: -12px;
    left: 555.5px;
}
.Why {
    font-family: Source Code Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    position: relative;
    top: 200px;
    left: -250px;
}
.Box {
    width: 750px;
    height: 150px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: #C4C4C4;
}
.Fhint {
    margin-left: 40px;

    font-size: 36px;
}
.Shint {
    margin-left: 40px;

    font-size: 36px;
}
.EmailInput {
    font-family: Source Code Pro;
    font-size: 28px;    

    width: 500px;
    height: 50px;

    background-color: #C4C4C4;
    
    border: 2px solid black;
    border-radius: 10px;

    position: relative;
    top: 400px;
    left: -250px;
}
.MessageInput {
    font-family: Source Code Pro;
    font-size: 18px;    

    width: 750px;
    height: 500px;

    background-color: #C4C4C4;
    
    border: 2px solid black;
    border-radius: 10px;

    position: relative;
    top: 450px;
    left: -250px;
}
.Form {
    position: relative;
    left: 250px;
}
.ButtonForm {
    font-family: Source Code Pro;
    font-size: 18px; 

    width: 100px;
    height: 50px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: #c4c4c4;

    position: relative;
    top: 500px;
    left: -250px;
}
.Line2 {
    background-color: #000000;
    width: 200px;
    height: 3px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: relative;
    left: 175px;
}
.ArrowRight2 {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

    position: relative;
    top: -14px;
    right: -174px;
}
.FirstA {
    position: relative;
    top: -452px;

    transform: rotate(-85deg);
}

