body {
    height: 1000px;
    width: 1000px;
    
    background: -webkit-linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(196,196,196,1) 28%);
    background: -o-linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(196,196,196,1) 28%);
    background: -moz-linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(196,196,196,1) 28%);
    background: linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(196,196,196,1) 28%);
}
h1 {
    position: relative;
    top: 100px;
    left: 650px;

    font-family: Source Code Pro;
    font-size: 100px;

    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}
p {
    font-family: Source Code Pro;
    font-size: 50px;

    position: absolute;
    top: 250px;
    left: 525px;

    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}
.psnd {
    position: relative;
    top: 270px;
    left: 525px;
}
.SadEmoji {
    height: 256px;
    width: 256px;

    position: absolute;
    top: 450px;
    left: 825px;

}
.TopButtonClass {
    position: fixed;
    width: 100px;
    height: 80px;
    top: 25px;
    left: 25px;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.TopButtonImg {
    position: fixed;
    width: 64px;
    height: 64px;
    top: 32px;
    left: 43px;
    z-index: -1;
}
.UsaFlag {
    border: 3px solid #000000;
    border-radius: 50px;
    
    width: 64px;
    height: 64px;

    position: relative;
    top: -225px;
    left: 150px;
}
.FrenchFlag {
    border: 3px solid #000000;
    border-radius: 50px;

    width: 64px;
    height: 64px;

    position: relative;
    left: 250px;
    top: -300px;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

