body {
    height: 1000px;
    width: 1000px;
    
    background: -webkit-linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(196,196,196,1) 28%);
    background: -o-linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(196,196,196,1) 28%);
    background: -moz-linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(196,196,196,1) 28%);
    background: linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(196,196,196,1) 28%);
}
h1 {
    position: relative;
    top: 100px;
    left: 650px;

    font-family: Source Code Pro;
    font-size: 100px;

    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}
p {
    font-family: Source Code Pro;
    font-size: 50px;

    position: absolute;
    top: 250px;
    left: 525px;

    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}
.psnd {
    position: relative;
    top: 270px;
    left: 525px;
}
.SadEmoji {
    height: 256px;
    width: 256px;

    position: absolute;
    top: 450px;
    left: 825px;

}
.TopButtonClass {
    position: fixed;
    width: 100px;
    height: 80px;
    top: 25px;
    left: 25px;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.TopButtonImg {
    position: fixed;
    width: 64px;
    height: 64px;
    top: 32px;
    left: 43px;
    z-index: -1;
}
.UsaFlag {
    border: 3px solid #000000;
    border-radius: 50px;
    
    width: 32px;
    height: 32px;

    position: fixed;
    top: 50px;
    left: 150px;
}
.FrenchFlag {
    border: 3px solid #000000;
    border-radius: 50px;

    width: 32px;
    height: 32px;

    position: fixed;
    left: 200px;
    top: 50px;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.Circle1{
    width: 100px;
    height: 100px;

    border-radius: 200px;
    background-color: #EC1313;

    position: relative;
    top: 380px;
    left: 600px;

    animation-name: Circle1Change;
    animation-duration: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;

}
@keyframes Circle1Change {
    0% {
        margin-bottom: 0%;
    }
    50% {
        margin-bottom: 20%;
    }
    100% {
        margin-bottom: 0%;
    }
}
.Circle2 {
    width: 100px;
    height: 100px;

    border-radius: 200px;
    background-color: #EC7413;

    position: relative;
    top: 280px;
    left: 900px;

}
.Circle3 {
    width: 100px;
    height: 100px;
    
    border-radius: 200px;
    background-color: #188927;

    position: relative;
    top: 180px;
    left: 1200px;

    animation-name: Circle3Change;
    animation-duration: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}
@keyframes Circle3Change {
    0% {
        margin-bottom: 0%;
    }
    50% {
        margin-top: 20%;
    }
    100% {
        margin-bottom: 0%;
    }
}
/*
.Group {
    animation-name: LineChange;
    animation-duration: 4s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}
@keyframes LineChange {
    0% {
        margin-left: 10%;
        width: 100%;
      }
    
    50% {
        margin-left: 0%;
        width: 100%;
      }
    
    100% {
        margin-left: 10%;
        width: 100%;
    }
}
*/
.Line {
    width: 750px;
    height: 4px;
    background-color: #000000;

    position: relative;
    top: 350px;
    left: 600px;
}
.ArrowRight {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    position: relative;
    top: 338px;
    left: 1343px;
}
.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
